.sidebar_left {
  box-shadow: -1px 8px 20px -11px rgb(0 0 0 / 75%);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.section_image_in {
  display: block;
  margin: auto;
  margin-top: 20px;
}

#img_slide {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.boxtextinner {
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 575px) {
  #img_slide {
    height: 200px;
  }

  #img_slide {
    height: 300px;
    width: 100%;
  }
}
